.bloquePadreStyle{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 10px;
    align-items: stretch;    /* height: 30vh; */
    width: 100%;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* sombra para el bloque */

}

.divEtiquetaCantidad{
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.742);
}

.bloquePadreDelivered{
    background-color: #67ff2b3d;
}

.bloquePadreInComing{
    background-color: #dbff393d;
}

.bloquePadreCancelled{
    background-color: #ff39393d;
}

.bloquePadrePending{
    background-color: #ff39ff3d;
}

body{
    background: #f9f9f9;
    font-family: sans-serif;
}

.orden{
    padding-right: 30px;
}

.bloqueData, .bloqueEnvio, .bloqueProduct, .bloqueDescarga {
    box-sizing: border-box;
}

.bloqueEnvio {
    flex:3
}
.bloquePago {
    flex:3
}
.bloqueProduct { 
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.bloqueData{
    display: flex;
    flex-direction: column;
    flex:3;
    margin-left: 10px;
}

.buttonDescargaFlexRTP{
    background-color: rgb(64, 255, 47);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargaFlexRTP:hover{
    background-color: rgb(126, 255, 115);
}

.buttonDescargaFlexPTD{
    background-color: rgba(184, 249, 177, 0.449);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargaFlexPTD:hover{
    background-color: rgb(139, 217, 132);
}

.buttonDescargaFlexDLV{
    background-color: rgba(255, 158, 200, 0.711);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargaFlexDLV:hover{
    background-color: rgba(255, 32, 129, 0.479);
}

.buttonDescargaFlexSPD{
    background-color: rgba(252, 255, 158, 0.711);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargaFlexSPD:hover{
    background-color: rgb(250, 255, 109);
}


.buttonDescargaCorreoRTP{
    background-color: rgb(254, 126, 7);
    height: 100%;    
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargaCorreoRTP:hover{
    background-color: rgba(254, 126, 7, 0.736);
}

.buttonDescargaCorreoPTD:hover{
    background-color: rgba(254, 126, 7, 0.912)
}

.buttonDescargaCorreoPTD{
    background-color: rgb(251, 176, 106);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonDescargado{
    background-color: rgb(255, 123, 183);
    height: 100%;
    width: 100%;
    border:0px;
    border-end-end-radius: 10px;
    border-top-right-radius: 10px;
}

/* .buttonDescarga:hover{
    background-color: rgb(255, 151, 95);
} */

.productPajaro,
.productGrisClaro,
.productGrisOscuro,
.productBeige,
.productNegro,
.productBlanco,
.productSC{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vh;
    width: 14vh;
    height: 14vh;
    border-radius: 9vh;
    margin: 3vh;
}


.colorPajaro{
    background-color: #e3268b;
}


.colorBeige{
    background-color: #e6cf5c;
}
.colorGrisOscuro{
    background-color: rgb(104, 99, 99);
    color: white;
}
.colorNegro{
    background-color: black;
    color: white;
}
.colorBlanco{
    background-color: white;
}

.bordeCirculoProduct{
    border: 2px solid black;
}

.borderLeft{
    border-top-left-radius: 0.8vw;
}

.borderRight{
    border-top-right-radius: 0.8vw;
}

.solidDown{
    border-bottom: 2px solid black;
}

.colorNaranja{
    background-color: rgb(237, 101, 34);
    color: black;
}
.colorVerde{
    background-color: rgb(64, 255, 47);
    color: black;
}

.colorGrisClaro{
    background-color: rgb(191, 191, 191);
}

.productSC{
    border-radius: 1px solid black;
}

.OrderBloque{
    display: flex;
    flex-direction: row;
    flex: 9.5
}

.bloqueDescarga { 
    flex:0.5
}


.flexRow{
    display: flex;
    flex-direction: row;
    align-items:first baseline;
}

.divData{
    display: flex;
}

.styleLocalidad{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.subBloque{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.orderData{
    display: flex;
    flex-direction: row;
    flex:6;    
}

.divCounts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divTitle{
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: center;
}

.divResumen{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 1vw;
}

.divEnvios{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.divCantidadVariantes{
    display: flex;
    border: solid 2px;
    border-top-right-radius: 0.8vw;
    border-top-left-radius: 0.8vw;

}

.flexRow{
    flex-direction: row;
}

.flexColumn{
    flex-direction: column;
}

.divResumenNombre{
    width: 100px;
    padding: 10px 30px;
    /* border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw; */
    display: flex;
    justify-content: center;
}

.divResumenNumero{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {


    .OrderBloque{
        flex-direction: column;
        text-align: center;
    }
    

    .productPajaro,
    .productGrisClaro,
    .productGrisOscuro,
    .productBeige,
    .productNegro,
    .productBlanco,
    .productSC{
        font-size: 2vh;
        width: 7vh;
        height: 7vh;
        border-radius: 4.5vh;
        margin: 3vh;
    }

    
    .subBloque {
        flex-direction: column;
    }

    .buttonDescarga {
        height: 5vh;
    }

    .divCounts{
        margin: 10px;
        flex-direction: column;
    }



    .divResumenNombre{
    flex-shrink: 1; /* permite encoger */
    flex-grow: 0;
    flex-basis: auto;
    min-width: 0; /* MUY importante para que el contenido pueda reducirse */
    width: auto; /* evita width fijo */
    padding: 10px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .divResumenNumero{
        padding: 10px 30px;
        display: flex;
        justify-content: center;
    }


    
}

